body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images.jpeg");
    background-size: cover;
    color:goldenrod;
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
}

#name {
    color:goldenrod;
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
}

.question{
    font-style: italic;
    color: white;
    font-size: 50px;
    text-align: center;
}

.cards{
    color: white;
    font-size: 50px;
    text-align: center;
}

.sum{
    color: white;
    font-size: 50px;
    text-align: center;
}

.startButtonDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startButton{
    height: 75px;
    width: 400px;
    color: #016f32;
    background-color: goldenrod;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 4px;
}

.NewButton{
    height: 75px;
    width: 400px;
    color: #016f32;
    background-color: goldenrod;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 4px;
    display: none;
}
